<h1>New Blog</h1>

<%= form_tag({ action: 'create'}, class: "nifty_form") do %>
  <%= label_tag(:title, 'Title:') %>
  <%= text_field(:blog, :title) %><br />
  <%= label_tag(:description, 'Description:') %><br />
  <%= text_area(:blog, :description, size: '80x5' ) %><br />
  <%= submit_tag('Create') %>
<% end %>
