<h1><%= @blog.title %>
<span class="byline pull-right">by <%=@blog.user.name %></span></h1>

<p><%= link_to 'Index', blog_path %> | (<%= link_to 'Edit', edit_blog_path %>)</p>
<p class="description"><%= @blog.description %></p>

<h2>Posts</h2>
<% if @blog.posts.empty? %>
<p>No posts, yet.</p>
<%= link_to 'First Post', new_blog_post_path(@blog) %>
<% else %>
<%= link_to 'New Post', new_blog_post_path(@blog) %>
<ul class="posts">
  <% @blog.posts.each do |post| %>
    <li><%= link_to post.title, blog_post_url(@blog, post) %></li>
  <% end %>
</ul>
<% end %>
